/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply h-full bg-gray-200 }

.protvistaToolbar {
    display: none;
}

.hideLabelIcon {
  display: none !important;
}

.msp-plugin-content, .protvista-pdb {
  border-width: 0 !important;
}