/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { @apply h-full bg-gray-200 }

.download_button { @apply text-gray-100 border border-green-700 bg-green-700 hover:bg-green-600 px-4 py-2 rounded-md }

.protvistaToolbar {
    display: none;
}

.hideLabelIcon {
  display: none !important;
}

.msp-plugin-content, .protvista-pdb {
  border-width: 0 !important;
}

protvista-tooltip {
  display: none !important;
}